{% extends 'base.html' %}

{% block content %}
<select  name="course" id="flats1" hx-get = "{% url 'modules' %}" hx-trigger = "change" hx-target = "#modules">
    <option selected>Select one of these</option>
    {% for course in courses %}
        <option value="{{course.pk}}">{{course.name}}</option>
    {% endfor %}
</select>
<select name="module" id="flats2" hx-get = "{% url 'rooms' %}" hx-trigger = "change" hx-target = "#rooms">
    {% for module in modules %}
        <option value="{{module.pk}}">{{module.name}}</option>
    {% endfor %}
</select>
<div id="rooms">
    {% include 'modules.html' %}
</div>

{% endblock %}